.footer {
  background: #333;
  padding: 25px 0;

  &__container {

  }

  &__link {
    color: #8398da;
    color: tint($blue, 50%);
  }

  &__text{
    text-align: center;
    color: #eee;
    margin: 0;
    padding: 0;
  }
}

.footer-logo {

  path {
    fill: #eee;
    width: 30px;
  }
  width: 50px;
  margin: 0 10px;
  
}

.instagram-logo {
  width: 30px;
}