// Colors
$blue:  #30497E; //rgb(48,73,126)
$light-blue: #5677be;
$green: #2CCF74;
$red:   #CF472C;
$grey:  #666;
$type-grey: #444;

// Type
$font-stack: -apple-system,
              BlinkMacSystemFont,
              "Segoe UI",
              Roboto,
              Oxygen-Sans,
              Ubuntu,
              Cantarell,
              "Helvetica Neue",
              sans-serif;
